/* Buttons */
.btn {
    transition: all 0.1s;
    box-shadow: none;
    &:hover,
    &:focus,
    &.active {
        transition: all 0.1s;
        box-shadow: none;
    }
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:hover,
    &:focus {
        background-color: darken($primary, 5%);
        border-color: darken($primary, 5%);
    }
}

.btn-toggle {
    &.active,
    &.active.focus,
    &.active:focus,
    &.active:hover {
        background-color: rgba($green, .25);
        border-color: transparent;
        color: $green;
    }
    &:hover,
    &:focus,
    &:active:hover {
        background-color: white;
    }
    margin-right: 5px;
}

.btn-toggle-primary {
    border-color: $ltgray;
    &.active,
    &.active.focus,
    &.active:focus,
    &.active:hover {
        background-color: rgba($primary, .1);
        border-color: transparent;
        color: $primary;
    }
    &:hover,
    &:focus,
    &:active:hover {
        background-color: white;
    }
    margin-right: 5px;
}

.svg.btn {
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 0.1s;
    &:hover {
        opacity: .5;
        transition: opacity 0.1s;
    }
}

.svg.btn.btn-settings {
    margin-left: 10px;
    margin-top: 1px;
}

/* Form */
.form-control {
    box-shadow: none;
    &:hover,
    &:focus {
        box-shadow: none;
        border-color: $primary;
    }
}

.form-inline {
    p {
        display: inline;
    }
    p.margin {
        margin-left: 15px;
    }
    @media screen and (min-width: 900px) {

        .form-control.ipfs {
            min-width: 350px;
        } 
    }
}

input.rating {
    max-width: 65px;
}

/* Progress */
.progress-container {
    padding: 15px;
    border-radius: 6px;
    border: 1px solid rgba($primary, .1);
    margin-bottom: 25px;
    p {
        margin-bottom: 0;
    }
    .progress {
        margin-bottom: 0;
    }
}

.progress {
    height: 5px;
    margin-top: 7px;
    box-shadow: none;
    background-color: rgba($primary, .1);
    .progress-bar {
        box-shadow: none;
        background-color: $primary;
    }
}

/* Console */
.console-output {
    font-family: 'Source Code Pro', 'Consolas', monospace;
    background: #222;
}

.console-helper {
    padding: 5px 15px;
    border-radius: 6px;
    border: 1px solid rgba($primary, .1);
    margin-bottom: 25px;
    a {
        margin-top: 4px;
    }
    object {
        margin-right: 10px;
    }
}

.console-marker {
    color: $green;
}

/* svg */
a.svg {
    position: relative;
    display: inline-block;
}

a.svg:after {
    content: ""; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
}

/* Well */
.well {
    box-shadow: none;
    border: none;
}

/* Stats */
.stats .col {
    margin-bottom: 25px;
}

.stats object {
    margin-right: 5px;
}

.stats.libraryd .row {
    padding: 10px 0;
    border-bottom: 1px solid $ltgray;
    &:last-child {
        border-bottom: none;
    }
}

/* Toggle */
.lbl {
    position: relative;
    display: block;
    height: 18px;
    width: 44px;
    background: $ltgray;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:after {
        position: absolute;
        left: -2px;
        top: -2px;
        display: block;
        width: 22px;
        height: 22px;
        border-radius: 100px;
        background: white;
        box-shadow: 0 0 10px rgba(black, .05);
        content: '';
        transition: all 0.3s ease;
    }
}
.toggle {
    &:checked ~ label {
        background: rgba($green, .25);
        &:after {
            left: 20px;
            background: $green;
            box-shadow: 0 0 10px rgba($green, .5);
        }
    }
    &:disabled ~ label {
        background: #d5d5d5;
        pointer-events: none;
        &:after {
            background: #bcbdbc;
        }
    }
}



/* Label */
.label {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 12px;
    margin-right: 15px;
}

.label-default-flash {
    background: $ltgray;
    color: $gray;
    border-radius: 3px;
    margin-right: 15px;
    padding: 5px 10px;
    margin-top: -5px;
    font-size: 12px;
    animation: pulseBg 1s infinite;
    p {
        margin: 0;
    }
}

@keyframes pulseBg {
    0% {
        background: darken($ltgray, 2%);
    }
    50% {
        background: lighten($ltgray, 2%);
    }
    100% {
        background: darken($ltgray, 2%);
    }
}

/* Pinned files */

.form-pin-file {
    @media screen and (min-width: 920px) {
        float: right;
    }
}

.btn-pin-file {
    margin-left: 10px;
}

.pinned-files {
    margin-top: 25px;
}

td.unpin {
    text-align: center;
}

/* Table */
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #DDD;
}

.table > tbody > tr > td {
    border-top: 1px solid $ltgray;
}

/* Tabs */
.tab-pane {
    margin-top: 25px;
}

/* Settings */
.settings-toggle {
    margin-bottom: 5px;
    p {
        margin-left: 10px;
    }
}

.preferences {
    border-bottom: 1px solid red;
    &:last-child {
        border-bottom: none;
    }
}

/* About */
.contributors {
    p {
        color: $dkgray;
    }
    .svg.btn.btn-github {
        margin-right: 5px;
    }
    .muted {
        margin-left: 5px;
    }
}

.well.license {
    color: $gray;
    font-size: 12px;
    white-space: pre-wrap;
}