body {
  overflow-y: scroll;
  outline: none; }

#app {
  padding-left: 0;
  padding-left: 250px; }

#content {
  max-width: 650px;
  position: absolute;
  padding: 7px 15px 15px 15px;
  position: relative; }

.section {
  margin: 100px 0; }

.section.active {
  background: rgba(83, 139, 212, 0.05);
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 85px;
  border-radius: 6px; }

button::-moz-focus-inner {
  border: 0; }

.settings-section {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #f2f2f2; }

.settings-section:first-child {
  padding-top: 0; }

.settings-section:last-child {
  border-bottom: none; }

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: rgba(83, 139, 212, 0.1);
  transition: all 0.5s ease;
  width: 250px; }

#sidebar object.logo {
  width: 150px; }

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 30px;
  padding: 10px 0;
  margin-left: 49px; }

.sidebar-nav li.sidebar-brand {
  margin-left: 0;
  margin-bottom: 25px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: rgba(83, 139, 212, 0.5); }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #538bd4; }

.sidebar-nav li a:active {
  text-decoration: none;
  color: #538bd4; }

.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav li.active a {
  color: #538bd4;
  font-weight: 700;
  border-right: 3px solid #538bd4; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

h1, h2, h3, h4 {
  margin-top: 0; }

h4 {
  font-weight: 700; }

.title {
  margin-bottom: 25px; }

.muted {
  color: #8e8e90; }

a {
  color: #538bd4; }

p,
label {
  color: #8e8e90; }

.settings-title {
  color: black;
  font-size: 18px;
  margin-top: 25px; }

.rig-label {
  color: black; }

.muted {
  color: #8e8e90; }

/* Buttons */
.btn {
  transition: all 0.1s;
  box-shadow: none; }

.btn:hover, .btn:focus, .btn.active {
  transition: all 0.1s;
  box-shadow: none; }

.btn-primary {
  background-color: #538bd4;
  border-color: #538bd4; }

.btn-primary:hover, .btn-primary:focus {
  background-color: #3f7dcf;
  border-color: #3f7dcf; }

.btn-default {
  background-color: transparent;
  border-color: #f2f2f2; }

.btn-default:hover, .btn-default:focus, .btn-default:active:hover, .btn-default:active:focus, .btn-default.active, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2; }

.btn-toggle {
  border-color: #f2f2f2;
  margin-right: 5px; }

.btn-toggle.active, .btn-toggle.active.focus, .btn-toggle.active:focus, .btn-toggle.active:hover, .btn-toggle:active:hover, .btn-toggle:active:focus {
  background-color: rgba(101, 208, 128, 0.25);
  border-color: transparent;
  color: #65d080; }

.btn-toggle:hover, .btn-toggle:focus {
  background-color: white; }

.btn-toggle-primary {
  border-color: #f2f2f2;
  margin-right: 5px; }

.btn-toggle-primary.active, .btn-toggle-primary.active.focus, .btn-toggle-primary.active:focus, .btn-toggle-primary.active:hover {
  background-color: rgba(83, 139, 212, 0.1);
  border-color: transparent;
  color: #538bd4; }

.btn-toggle-primary:hover, .btn-toggle-primary:focus, .btn-toggle-primary:active:hover {
  background-color: white; }

.svg.btn {
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 0.1s; }

.svg.btn:hover {
  opacity: .5;
  transition: opacity 0.1s; }

.input-group-addon {
  border-color: #f2f2f2;
  background-color: #f2f2f2; }

.svg.btn.btn-settings {
  margin-left: 10px;
  margin-top: 1px; }

/* Form */
.form-control {
  box-shadow: none;
  border-color: #f2f2f2; }

.form-control:focus {
  box-shadow: none;
  border-color: #538bd4; }

.form-inline p {
  display: inline; }

.form-inline p.margin {
  margin-left: 15px; }

@media screen and (min-width: 900px) {
  .form-inline .form-control.ipfs {
    min-width: 350px; } }

input.rating {
  max-width: 65px; }

/* Progress */
.progress-container {
  padding: 15px;
  border-radius: 6px;
  border: 1px solid rgba(83, 139, 212, 0.1);
  margin-bottom: 25px; }

.progress-container p {
  margin-bottom: 0; }

.progress-container .progress {
  margin-bottom: 0; }

.progress {
  height: 5px;
  margin-top: 7px;
  box-shadow: none;
  background-color: rgba(83, 139, 212, 0.1); }

.progress .progress-bar {
  box-shadow: none;
  background-color: #538bd4; }

/* Console */
.console-output {
  font-family: 'Source Code Pro', 'Consolas', monospace;
  background: #222; }

.console-helper {
  padding: 5px 15px;
  border-radius: 6px;
  border: 1px solid rgba(83, 139, 212, 0.1);
  margin-bottom: 25px; }

.console-helper a {
  margin-top: 4px; }

.console-helper object {
  margin-right: 10px; }

.console-marker {
  color: #65d080; }

/* svg */
a.svg {
  position: relative;
  display: inline-block; }

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/* Well */
.well {
  box-shadow: none;
  border: none; }

/* Stats */
.stats .col {
  margin-bottom: 25px; }

.stats object {
  margin-right: 5px; }

.stats.libraryd .row {
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2; }

.stats.libraryd .row:last-child {
  border-bottom: none; }

/* Toggle */
.lbl {
  position: relative;
  display: block;
  height: 18px;
  width: 44px;
  background: #f2f2f2;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease; }

.lbl:after {
  position: absolute;
  left: -2px;
  top: -2px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  content: '';
  transition: all 0.3s ease; }

.toggle:checked ~ label {
  background: rgba(101, 208, 128, 0.25); }

.toggle:checked ~ label:after {
  left: 20px;
  background: #65d080;
  box-shadow: 0 0 10px rgba(101, 208, 128, 0.5); }

.toggle:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none; }

.toggle:disabled ~ label:after {
  background: #bcbdbc; }

/* Label */
.label {
  padding: 5px 10px;
  font-weight: 400;
  font-size: 12px;
  margin-right: 15px; }

.label-default-flash {
  background: #f2f2f2;
  color: #8e8e90;
  border-radius: 3px;
  margin-right: 15px;
  padding: 5px 10px;
  margin-top: -5px;
  font-size: 12px;
  animation: pulseBg 1s infinite; }

.label-default-flash p {
  margin: 0; }

@keyframes pulseBg {
  0% {
    background: #ededed; }
  50% {
    background: #f7f7f7; }
  100% {
    background: #ededed; } }

/* Pinned files */
@media screen and (min-width: 920px) {
  .form-pin-file {
    float: right; } }

.btn-pin-file {
  margin-left: 10px; }

.pinned-files {
  margin-top: 25px; }

td.unpin {
  text-align: center; }

/* Table */
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #DDD; }

.table > tbody > tr > td {
  border-top: 1px solid #f2f2f2; }

/* Tabs */
.tab-pane {
  margin-top: 25px; }

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px; }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.25); }

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.1); }

/* Settings */
.settings-toggle {
  margin-bottom: 5px; }

.settings-toggle p {
  margin-left: 10px; }

.preferences {
  border-bottom: 1px solid red; }

.preferences:last-child {
  border-bottom: none; }

/* About */
.contributors p {
  color: #38383b; }

.contributors .svg.btn.btn-github {
  margin-right: 5px; }

.contributors .muted {
  margin-left: 5px; }

.well.license {
  color: #8e8e90;
  font-size: 12px;
  white-space: pre-wrap; }

/* Tabs */
.nav-pills li.active a {
  background-color: rgba(83, 139, 212, 0.1);
  color: #538bd4; }

.nav-pills li.active a:hover, .nav-pills li.active a:focus {
  background-color: rgba(83, 139, 212, 0.1);
  color: #538bd4;
  transition: 0.1s all; }

.nav-pills li a {
  border-radius: 3px;
  margin-right: 5px;
  padding: 6px 12px;
  border: 1px solid #f2f2f2;
  color: #8e8e90;
  transition: 0.1s all; }

.nav-pills li a:hover, .nav-pills li a:focus {
  background: rgba(83, 139, 212, 0.05);
  color: #8e8e90;
  transition: 0.1s all; }

/* Publish */
.publish h5 {
  color: #38383b;
  margin-bottom: 15px;
  margin-top: 15px; }

.publish h5 object {
  margin-right: 5px; }

.publish .publish-section {
  margin-bottom: 25px; }

.publish .artifact-type .btn {
  margin-right: 0px;
  padding: 6px 10px; }

.publish .cover-art {
  width: 180px;
  height: 180px;
  display: table;
  background: rgba(242, 242, 242, 0.5);
  border-radius: 3px; }

.publish .cover-art p {
  text-align: center;
  vertical-align: middle;
  display: table-cell; }

.publish label {
  font-weight: 300; }

.publish .form-horizontal .control-label {
  text-align: left; }

.publish .form-horizontal .col-sm-5 {
  padding-left: 0;
  width: 35%; }

.publish .form-horizontal .col-sm-7 {
  padding-right: 0;
  width: 65%; }

.publish .publish-pricing {
  background-color: rgba(101, 208, 128, 0.05);
  padding: 15px;
  padding-bottom: 0;
  margin: 0 -15px;
  margin-bottom: 35px;
  border-radius: 6px; }

.publish .publish-pricing .input-group-addon {
  background: rgba(101, 208, 128, 0.5);
  border-color: rgba(101, 208, 128, 0);
  color: #36b256; }

.publish .publish-pricing .form-control {
  border-color: rgba(101, 208, 128, 0);
  background-color: rgba(101, 208, 128, 0.25);
  color: #36b256; }

.publish .publish-pricing h5 {
  margin-bottom: 25px; }

.publish .publish-pricing .small {
  padding-bottom: 15px; }

.publish .publish-pricing .li-money {
  position: absolute;
  right: -50px;
  margin-top: -15px; }

.publish .publish-pricing ::-webkit-input-placeholder {
  color: rgba(101, 208, 128, 0.5); }

.publish .publish-pricing ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(101, 208, 128, 0.5); }

.publish .publish-files {
  background-color: rgba(242, 242, 242, 0.25);
  border-radius: 6px;
  padding: 15px;
  margin: 0 -15px; }

.publish .publish-files th {
  border-bottom: none;
  padding-left: 4px; }

.publish .publish-files td {
  padding: 4px;
  padding-top: 8px;
  border-top: none; }

.publish .publish-files td .form-control {
  margin-top: -4px;
  padding: 0px 12px;
  height: 30px; }

.publish .upload-area {
  border: 1px dashed rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  transition: all 0.1s; }

.publish .upload-area:hover {
  padding: 10px;
  margin: -5px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.025);
  transition: all 0.1s; }

.publish .publish-submit {
  border: 1px solid #f2f2f2;
  padding: 15px;
  margin: 0 -15px;
  border-radius: 6px; }

.publish .publish-submit p {
  margin-bottom: 0; }

.publish .publish-progress {
  display: none;
  position: fixed;
  top: 0;
  left: 1;
  margin-left: -30px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); }

.publish .publish-progress p {
  color: #fff; }
