section p.about {
    font-size: 15px;
}

section p.Contributor {
    font-size: 15px;
    -webkit-user-select: text;
    margin-bottom: 7px;
}

section p i {
    cursor: pointer;
    font-size: 16px;
}