section h1.aboutHeading{
  font-size: 24px;
  color:#5D5D5D;
}

section p.aboutSub{
  font-size: 13px;
  color:#AEAEAE;
}

section p.about {
  font-size: 13px;
  color:#5E5E5E;
}

section h2.aboutTitle{
  color:#383838;
  font-size:16px;
  font-weight:normal;
  margin-bottom:4px;
}

section p.Contributor {
    font-size: 15px;
    -webkit-user-select: text;
    margin-bottom: 7px;
    color:#5E5E5E;
}

section p i {
    cursor: pointer;
    font-size: 16px;
}

section textarea.License {
  overflow: auto;
  height:280px;
  resize: none;
  width: 100%;
  -webkit-user-select: text;
  font-size: 11px;
  white-space: pre-wrap;
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 15px 15px;;
  -webkit-user-select: all;
}