.sidebar {
    background-color: #74787a;
    float: left;
    font-size: 12px;
    font-family:"Trebuchet MS";
    font-weight:lighter;
    height: 100vh;
    z-index: 2;
    position: relative;
    list-style: none;
    width: 170px;
    box-shadow: 2px 0px 4px 0px rgba(50, 50, 50, 0.75);
    .sidebar-logo {
        margin-top: 20px;
        width: 150px;
        margin-left: 10px;
        height: 70px;
    }
    a.active {
        li {
            background-color: #b7c0c4;
            p {
                color: #4a4a4a;
            }
        }
    }
    li {
        cursor: pointer;
        height: 40px;
        p {
            color: #DEE2E4;
            float: left;
            margin-left: 40px;
            line-height: 40px;
        }
    }
}