.sidebar {
    background-color: #1c222e;
    float: left;
    font-family: 'Avenir Next', 'Open Sans', sans-serif;
    font-size: 12px;
    height: 100vh;
    list-style: none;
    width: 190px;
    a.active {
        li {
            background-color: #232b3a;
            p {
                color: #ebedf2;
            }
        }
    }
    li {
        cursor: pointer;
        height: 40px;
        p {
            color: #6f7686;
            float: left;
            margin-left: 30px;
            line-height: 40px;
        }
    }
}