.cli-emulator {
    background-color: #74787a;
    height: 250px;
    overflow-y: scroll;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 20px;
}

.input-area {
    height: 100%;
}

.input-area .holder {
    overflow: auto;
}

.input-area .prompt {
    color: #d28445;
}

.input-area input[type=text],
.input-area input[type=text]:focus {
    border: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
    outline: 0;
    background-color: #74787a;
    width: 90%;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
}

.input-area p {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    margin-bottom: 0;
    color: #ffffff;
    line-height: 21px;
}