.cli-emulator {
    background-color: #74787a;
    min-height: 200px;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 20px;
}

.input-area {
    height: 100%;
}

.input-area .holder {
    overflow: auto;
}

.input-area .prompt {
    color: #d28445;
}

.input-area input[type=text],
.input-area input[type=text]:focus {
    border: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
    background-color: #74787a;
    width: 80%;
}

.input-area p {
    margin-bottom: 0;
    font-size: 15px;
    color: #ffffff;
    line-height: 21px;
}