.cli-emulator {
    background-color: #74787a;
    height: 200px;
    overflow-y: scroll;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 20px;
    resize: vertical;
}
.cli-emulator::-webkit-resizer {
    border: 2px solid yellow;
    background: blue;
    box-shadow: 0 0 2px 5px red;
    outline: 2px dashed green;

    /*size does not work*/  
    display:block;  
    width: 150px !important;
    height: 150px !important;
}

.cli-emulator::-webkit-scrollbar {
    width: 6px;
}

.cli-emulator::-webkit-scrollbar-track {}

.cli-emulator::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #919191;
}

.input-area {
    height: 100%;
}

.input-area .holder {
    overflow: auto;
}

.input-area .prompt {
    color: #d28445;
}

.input-area input[type=text],
.input-area input[type=text]:focus {
    border: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
    outline: 0;
    background-color: #74787a;
    width: 90%;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
}

.input-area p {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    margin-bottom: 0;
    color: #ffffff;
    line-height: 21px;
    white-space: pre-wrap;
}